{% extends 'web_demo.html' %}

{% block title %}
    Main page
{% endblock title %}
    <meta http-equiv="refresh" content="5">
{% block body %}
    <div class="container">
    <h1>    LittleWorld Netizens, Hello! </h1>
        <h2> Current epoch: {{ data["age"] }} </h2>
        <h3> Size of the World: {{ data["x"], data["y"] }}</h3>
        <h3> Population: {{ data["number_of_people"]['all'] }}</h3>
            <h4> BLUE: {{ data["number_of_people"]['blue'] }}</h4>
            <h4> RED: {{ data["number_of_people"]['red'] }}</h4>

        <form>
        <button formaction="/">Clean this World and Start New!</button>
        </form>

    </div>
{% endblock body %}

