{% extends 'web_demo.html' %}

{% block body %}
  <form action="{{ url }}" method="post">

        <p>Define the size of your World (X, Y)</p>
        <p>
            <input type="number" min="0" name="x"/>
            <input type="number" min="0" name="y"/>
        </p>

        <p><input type="submit" name="submit X and Y"/> </p>

  </form>

{% endblock body%}