{% extends 'web_demo.html' %}

{% block body %}
 <h3> FRONTEND VERSIONS:</h3>
<ul>
  {% for key, value in versions.items()%}
  <dt> {{ key }} </dt>
  <dd> {{ value }} </dd>
  {%endfor%}
</ul>


{% endblock body%}
