<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
    <script src="index.html" data-turbo-track="reload"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom">

         <h5 class="my-0 mr-md-auto font-weight-normal">LittleWorld</h5>
         <nav class="my-2 my-md-0 mr-md-3">
                <a class="p-2 text-dark" href="/">WorldSetting</a>
                <a class="p-2 text-dark" href="/world"> OurWorld </a>
                <a class="p-2 text-dark" href="/versions"> Versions</a>
        </nav>
    </div>

    {% block body %}
    {% endblock body %}


</body>
</html>